
.todoContainer {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	width: 500px;
}

.todoList {
	width: 100%;
	padding: 5px;
}
.todoInput {
	display: flex;
}
.todoInput form, .todoInput input {
	width: 100%;
}

.todoItem {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.todoItem .cancelX {
	color: red;
	cursor: pointer;
	margin-left: 5px;
}